<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
    <meta charset="utf-8">
    <title>
        {% if page.title %}{{ page.title }} &ndash;{% endif %} {{ site.name }}
    </title>

    <meta name="author" content="Sunlies" />
    <meta name="description" content="Sunlies Official Website" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png" />

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Default twitter cards -->
    <meta name="twitter:card" content="Sunlies Visual World">
    <meta name="twitter:site" content="@">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="my-app">
    <meta property="og:image" content="img/icon-192x192.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
{{ content }}
</body>

</html>