---
layout: body
---
<nav>
    <ul>
        <li><a href="/" class="logotype"></a></li>
        <li><a href="/">home</a></li>
        <li><a href="/projects">projects</a></li>
        <li><a href="/about">about</a></li>
    </ul>
</nav>

<section class="content">
    {{ content }}
</section>

<footer>
    <ul>
        <li><a href="/" class="logotype"></a></li>
        <li><a href="/">home</a></li>
        <li><a href="/projects">projects</a></li>
        <li><a href="/about">about</a></li>
    </ul>
</footer>